#header{
    position: relative;
    background-color: white;
    margin-bottom: 0px;
    height: 25px;
    width: 100%;
}

#delete{
    width: 16px;
    height: 16px;
    background-color: red;
    border-radius: 8px;
    margin: 5px;
    border: none;
    text-align: center;
    line-height: 0;
    font-size: 15px;
    text-indent: -9999px;
    cursor: pointer;
}

#delete:hover{
    text-indent: 1px;
}

.class{
    height: 50px;
    margin: 10px;
    margin-bottom: 0px;
    padding: 10px;
    border: 2px solid black;
    background-color: rgb(57, 57, 57);
    border-radius: 20px;
    width: 455px;
}

.class:hover{
    background-color: rgb(86, 86, 86);
}

.class:hover > .view-grades{
    box-shadow: 2px 2px 10px 2px black;
    background-color: rgb(155, 173, 155);
} 

.class-name{
    position: relative;
    color: rgb(241, 241, 241);
    padding: 5px;
    width: max-content;
    float: left;
    margin-left: 20px;
}
.class-average{
    padding: 5px;
    position: relative;
    text-align: right;
}

.class-average span{
    background-color: rgb(5, 193, 5);
    color: white;
    padding: 5px;
    border-radius: 10px;
}

.no-class-average{
    padding: 5px;
    position: relative;
    text-align: right;
}

.no-class-average span{
    background-color: rgb(155, 173, 155);
    color: white;
    padding: 5px;
    border-radius: 10px;
}

.view-grades{
    width: 20px;
    height: 50px;
    position: absolute;
    background-color: rgb(5, 193, 5);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    left: 20px;
}

#appWrapper{
    height: 700px;
    width: 500px;
    background-color: rgb(0, 0, 0);
}

.grades-header{
    height: max-content;
    background-color: rgb(5, 193, 5);
}

.individual-class-average{
    color: white;
    text-align: center;
    padding-bottom: 20px;
}

.title{
    text-align: center;
    padding: 20px;
    color: rgb(241, 241, 241);
    background-color: rgb(5, 193, 5);
}

.back-button{
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-left: .5rem solid white;
    border-bottom:  .5rem solid white;
    border-top: 0px;
    border-right: 0px;
    background-color: transparent;
    transform: rotate(45deg);
    margin: 10px;
    top: 10%;
    left: 10px;
    cursor: pointer;
    transition: 250ms;
}

.back-button:hover{
    border-left: .5rem solid rgb(155, 173, 155);
    border-bottom:  .5rem solid rgb(155, 173, 155);
}

.what-if-calculator{
    background-color: rgb(0, 117, 0);
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    top: 100px;
    left: 350px;
    position: absolute;
    font-size: 1.5em;
    transition: 250ms;
    cursor: pointer;
}

.what-if-calculator:hover{
    background-color: black
}

#what-if-container{
    width: 400px;
    box-shadow: 0px 5px 5px 5px rgb(0, 0, 0);
    text-align: center;
}

#close-what-if-calculator{
    display: block;
    background-color: rgb(5, 193, 5);
    color: white;
    padding: 10px;
    font-size: 1.2em;
    border: none;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    cursor: pointer;
    transition: 250ms;
}

#close-what-if-calculator:hover{
    background-color: white;
    color: rgb(5, 193, 5);
    border: 2px solid rgb(5, 193, 5);
}

#select-grade-type-container, #input-grade-container, #calculate{
    position: relative;
    margin: 10px;
}

#calculate{
    background-color: white;
    color: rgb(5, 193, 5);
    border: 2px solid rgb(5, 193, 5);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 250ms;
    font-size: 1.2em;
}
#calculate:hover{
    background-color: rgb(5, 193, 5);
    color: white;
}

#grade-type-select, #input-grade{
    border: none;
    border-bottom: 1px solid black;
}

#grade-type-select{
    cursor: pointer;
}

#input-grade{
    caret-color: rgb(129, 129, 129);
    text-align: left;
    width: 50px;
    cursor:text;
}

#input-grade:focus{
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

#grade-type-select:focus{
    outline: none;
}

.average-display h1{
    color: white;
}

.average-display{
    background-color: rgb(57, 57, 57);
    width: max-content;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    border-radius: 10px;
}


.other-average{
    width: 150px;
    height: max-content;
    display: inline-block;
    margin: 10px;
}
.minor-average{
    width: max-content;
    display: inline-block;
    margin: 10px;
}
.major-average{
    width: max-content;
    display: inline-block;
    margin: 10px;
}

li{
    color: white;
    background-color: rgb(57, 57, 57);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    font-size: 1.2em;
}
li span{
    color: white;
    float: right;
}

.grade-date{
    float: left;
    margin-left: 25px;
    color: grey;
    font-size: 15px;
    font-weight:bold;
}

.grade-display{
    overflow-y:scroll;
    height: 370px;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 10px;
}



.Other-color{
    background-color: orange;
    width: 20px;
    height: 20px;
    position: relative;
    float: left;
    margin-right: 5px;
    border-radius: 5px;
}

.other-color-average{
    background-color: orange;
    height: 20px;
    border-radius: 10px;
}

.Other-grades{
    margin-bottom: 0px;
}



.Minor-color{
    background-color: rgb(0, 191, 255);
    width: 20px;
    height: 20px;
    position: relative;
    float: left;
    margin-right: 5px;
    border-radius: 5px;
}

.minor-color-average{
    background-color: rgb(0, 191, 255);
    height: 20px;
    border-radius: 10px;
}

.Minor-grades{
    margin-bottom: 0px;
}



.Major-color{
    background-color: rgb(255, 0, 123);
    width: 20px;
    height: 20px;
    position: relative;
    float: left;
    margin-right: 5px;
    border-radius: 5px;
}

.major-color-average{
    background-color: rgb(255, 0, 123);
    height: 20px;
    border-radius: 10px;
}

.Major-grades{
    margin-bottom: 0px;
}
li:hover{
    background-color: rgb(86, 86, 86);
}